<div id="campaing_dropbox">
<select>
{{#each campaingNames}}
	<option value={{Name}}>{{Name}}</option>
{{/each}}
</select>
</div>


{{#section 'jquery'}}
<script type="text/javascript">
$(document).ready(function(){

}
</script>
{{/section}}