{{#section 'head'}}
<title>Dungeons and Dragons Alpha 0.4.0v</title>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/phaser/2.4.6/phaser.js"></script>
<script type="text/javascript" src="/scripts/game/Boot.js"></script>
<script type="text/javascript" src="/scripts/game/Preload.js"></script>
<script type="text/javascript" src="/scripts/game/Menu.js"></script>
<script type="text/javascript" src="/scripts/game/PreloadGame.js"></script>
<script type="text/javascript" src="/scripts/game/Game.js"></script>
{{/section}}

<div id="game_area">
	<script src="/scripts/game/main.js"></script>
</div>

{{#section 'jquery'}}
<script type="text/javascript">
$(document).ready(function(){



});
</script>
{{/section}}