<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
<!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
<!-- <script type="text/javascript" src="form.js"></script> -->




<form action= "/login" method="POST">

	<div>
		<label for="tbUsername"> Username: </label>
		<input type="text" id="tbUsername" required name="user">
	</div>
	<div>
		<label for="tbPassword"> Password: </label>
		<input type="password" id="tbPassword" required name="password">
	</div>


	<button type="submit" id="btnSubmit"> Submit </button>
</form>
